.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 25vh;
    background-color: lightblue;
    padding: 10px;
    margin: 0%;
    height: 75vh;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin: 5px;
    text-align: center;
    height: 25vh;
}

img {
    width: 400px;
    height: 25vh;
}

footer {
    margin: 0px;
    padding: 5px;
    background-color: blueviolet;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

header {
    margin: 0%;
    padding: 5px;
    background-color: blueviolet;
    color: wheat;
}

.navmenu {
    width: 100%;
    background-color: black;
}

.tablink {
    width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 0px;
}

img.dp {
    padding-left: 85%;
    padding-right: 0%;
    width: 25px;
    height: 30px;
    border-color: black;
    border: 1px;
}

.tabcontent {
    height: 80vh;
}

input[type=text] {
    border-radius: 4px;
}