.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: lightblue;
    padding: 10px;
    margin: 0%;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1px;
    text-align: center;
    margin: 5px;
}

img {
    height: 100%;
    width: 100%;
}

footer {
    margin: 0px;
    padding: 5px;
    background-color: blueviolet;
    color: white;
    align-self: flex-end;
}

header {
    margin: 0%;
    padding: 5px;
    background-color: blueviolet;
    color: wheat;
}

.navmenu {
    width: 100%;
}

.tablink {
    width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0%;
}

.dp {
    padding-left: 85%;
    padding-right: 0%;
    width: 30px;
}